/* Setting the general characterstics of the page */
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: black;
}
/* Color of the backgroung for all the pages */
body{
    background-color: #fff;
}
/* Removing the visibility of the scroll bar */
::-webkit-scrollbar {
    display: none;
}
/* Aura Alarm heading styling */
.head{
    padding: 12.5px 50px;
    position: relative;
    border-bottom: 2px solid #ADCEFF;
}
/* Setting up main heading position and styling */
.head p{
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: 'Michroma', sans-serif;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #ADCEFF;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s;
}
.head p:hover{
    color: #000;
}
/* Buttons styling in the nav bar */
.righthead{
    float: right;
    
}
.righthead div{
    margin-left: 20px;
    margin-top: 8px;
    float: left;
}
.righthead div button{
    background-color: #ADCEFF;
    border: none;
    border-radius: 3px;
    transition: all 0.25s;
}
.righthead div button:hover{
    box-shadow: 1px 1px 5px #6666665b;
}
.righthead div button a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.righthead div button i{
    padding-right: 10px;
    color: #000;
}
.righthead div button, .bell{
    padding: 8px 15px;
    cursor: pointer;
}
.bell{
    padding: 8px 0px;
    cursor: pointer;
}
.bell i {
    font-size: 20px;
}
/* Logo styling */
.imgDiv{
    display: inline-block;
}
.imgDiv img{
    cursor: pointer;
    transition: all 0.5s;
    height: 48px;
}
.imgDiv img:hover{
    transform: scale(1.1);
}

/* Sidebar Styling */
.sidebar{
    padding: 20px 50px;
    background-color: #ADCEFF;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 15vw;
    height: 325px;
    color: #000;
}
.sidebar ul{
    list-style: none;
    color: #000;
}
.sidebar ul li{
    padding: 10px 0px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
.sidebar ul li a{
    color: #000;
    text-decoration: none;
}
.sidebar ul li a:hover{
    color: #000;
    font-size: 17px;
    text-decoration: none;
}
.sidebar ul li.mainLi{
    padding: 25px 0px 10px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    cursor: default;
}
.sidebarContainer{
    float: left;
}
/* Alarm Table Styling */
.addAlarm{
    float: right;
    width: 85vw;
}
.heading{
    text-align: center;
    font-family: 'Antonio', sans-serif;
    margin: 50px;
    font-size: 36px;
    cursor: default;
}
.formcontainer{
    width: 50%;
    margin: auto;
}
table.alarmTable td{
    padding: 15px;
    width: 50%;
    font-weight: 600;
}
table.alarmsTable td{
    padding: 15px;
    width: 15%;
    font-weight: 600;
}
table.clockTable td{
    padding: 15px;
    width: 20%;
    font-weight: 600;
}
table.viewClockHead td{
    padding: 15px;
    width: 20%;
    font-weight: 600;
}
table.alarmTable td.tdHeading{
    text-align: right;
}

/* Form Styling */
input{
    width: 50%;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #eee;
    color: #000;
    padding: 2px 8px;
}
select{
    width: 50%;
    height: 30px;
    border-radius: 4px;
    border: 2px solid#eee;
    color: #000;
    padding: 2px 8px;
}
#cont{
    width: 60%;
    height: 30px;
    border-radius: 4px;
    border: 2px solid#eee;
    color: #000;
    padding: 2px 8px;
}
select option{
    color: #000;
}
input[type="submit"]{
    padding: 5px 20px;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    border: none;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"].updateBtn{
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    border: none;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="time"]{
    background: #E6F8FF;
    border-bottom: 4px solid #a5a5a5;
}
input[type="time"]:focus{
    background: #E6F8FF;
    border: none;
    border-bottom: 4px solid #00B8FF;
}
input[type="reset"]{
    padding: 5px 15px;
    background-color: #ffc107;
    color: #000;;
    font-weight: 600;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.reset{
    padding: 7px 20px;
    background-color: #ffc107;
    font-weight: 600;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.reset a{
    text-decoration: none;
    color: #000;
}


/* View alarm and clock Page styling */
.viewAlarmTable{
    float: right;
    width: 85vw;
}
.tablecontainer{
    width: 80%;
    margin: auto;
}
.tablecontainer table{
    border-collapse: collapse;
    border: 2px solid #000;
}
.tablecontainer table th{
    border: 2px solid #000;
    padding: 15px;
}
.tablecontainer table td{
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
}
.delete{
    padding: 8px 15px;
    cursor: pointer;
    background-color: #d9534f;
    border: none;
    border-radius: 3px;
    transition: all 0.25s;
}
.delete:hover{
    box-shadow: 1px 1px 5px #6666665b;
}
.delete a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.delete i{
    padding-right: 10px;
    color: #fff;
}
.edit{
    padding: 6px 15px;
    cursor: pointer;
    background-color: #F0F0F0;
    border: 2px solid #CDCDCD;
    border-radius: 3px;
    transition: all 0.25s;
}
.edit:hover{
    box-shadow: 1px 1px 5px #6666665b;
}
.edit a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.edit i{
    padding-right: 10px;
    color: #000;
}
.pagename{
    display: inline-block;
    padding: 10px;
}
.pageNo{
    padding: 10px 5px;
    text-decoration: none;
}